$poster: url("../../../public/home/poster.jpg");

.poster {
  background: $poster;
  background-size: cover;
  background-position: bottom left;
}

.posterInner {
  height: 600px;
  min-height: 600px;
  margin: 0 auto;

  @media screen and (min-width: 1440px) {
    height: 900px;
    min-height: 900px;
  }

  h1 {
    em {
      font-style: normal;
      background: #423024;
      background-size: 400% 400%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
