.search-select {
  font-size: 0.7rem;
  color: inherit;
  box-shadow: none;
  background: var(--light) !important;

  * {
    // background: inherit ;
    // color: inherit ;
    font-family: inherit;
    font-size: inherit;
    box-shadow: none;
  }

  &:hover,
  &.ant-select-focused {
    .ant-select-selector {
      border-color: var(--cream) !important;
    }
  }
}

.search-select-popup {
  .ant-select-item-option-active {
    background: var(--cream) !important;
    color: #fff !important;
  }
  .ant-select-item-option-selected {
    background-color: transparent !important;
  }

  .ant-select-item-option-active.ant-select-item-option-selected {
    background: var(--cream) !important;
    // color: #fff !important;
  }

  .ant-select-item {
    display: flex;
    align-items: center;
    font-size: 0.7rem !important;
    height: 2.4rem !important;

    a {
      &:hover {
        color: var(--white) !important;
      }

      &.selected {
        text-decoration: underline;
      }
    }
  }
}
