.search-select {
  font-size: 1.4rem !important;
  color: inherit !important;
  box-shadow: none !important;
  display: flex;
  flex-direction: column;

  * {
    font-size: inherit !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }

  .ant-select-selector {
    height: 100%;
    flex-grow: 1;
  }

  &:hover,
  &.ant-select-focused {
    .ant-select-selector {
      border-color: var(--bg) !important;
    }
  }
}

.search-select-popup {
  .ant-select-item-option-active {
    background: var(--bg) !important;
    color: var(--text) !important;
  }
  .ant-select-item-option-selected {
    background-color: transparent !important;
  }

  .ant-select-item-option-active.ant-select-item-option-selected {
    background: var(--bg) !important;
  }

  .ant-select-item {
    display: flex;
    align-items: center;
    font-size: 1.4rem !important;
    height: auto !important;
    min-height: auto !important;
    padding: 1.2rem 1rem;
  }
}
