@import "../../../styles/mixins.scss";

@mixin ZodiacMinimalLayout() {
  &.minimal {
    .labels {
      gap: 0.4em;
      h1 {
        font-size: 2.7em;
      }

      h2 {
        @include subline-decoration-center($textColor);
      }

      h2,
      h3 {
        font-size: 2em;
      }

      span {
        margin-top: 1em;
        font-size: 1.2em;
        opacity: 0.7;
      }
    }
  }
}
