@import "../../../styles/mixins.scss";

@mixin ZodiacMinimalLayout() {
  &.minimal {
    .artworkFigure {
      gap: 0;
    }

    .labels {
      gap: 0.4em;

      h1 {
        font-size: 2.7em;
      }

      h2 {
        margin: 0.4em 0;
        @include subline-decoration-center($textColor);
        font-size: 1.6em;
      }

      h3,
      span {
        margin: 0;
        font-size: 1em;
        opacity: 0.7;
      }
    }

    &.landscape {
      .artworkFigure {
        gap: 2em;
      }
    }
  }
}
