@import "../../../styles/mixins.scss";

@mixin ZodiacNoirLayout() {
  &.noir {
    .custom-line {
      display: none;
    }
    .border-holder {
      margin: 0;
    }

    .artworkFigure {
      padding: 2em;
    }

    .labels {
      background: transparent;
      text-align: right;
      justify-content: flex-end;
      align-items: flex-end;

      * {
        color: $textColor;
      }

      h1 {
        font-size: 2em;
      }

      h2 {
        font-size: 1.3em;
        margin: 0.4em 0;
      }

      h3 {
        font-size: 1.2em;
      }

      span {
        display: block;
        margin-top: 0.2em;
        font-size: 1em;
      }
    }
  }
}
