@mixin CrispiLayout() {
  &.crispi {
    .custom-line {
      display: none;
    }

    .artworkFigure {
      flex-direction: column-reverse;
    }

    .border-holder {
      margin: 0;
    }

    .labels {
      position: static;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 0.8em;
      padding: 2em;
      background: transparent;

      h1 {
        font-size: 2.1em;
        // line-height: 1.5;
        text-align: left;
        width: 52%;
        text-transform: uppercase;
      }

      .right-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        width: 48%;
        text-align: right;
        gap: 0.5em;
        margin-left: auto;
      }

      h2 {
        display: block;
        font-size: 1.7em;
      }

      h3 {
        font-size: 1em;
      }

      span {
        font-size: 1em;
        opacity: 0.5;
      }
    }
  }
}

@mixin CrispiLayoutWithMask() {
  &.crispi {
    .labels {
      background: #fff;
    }
  }
}
