.artwork {
  height: 100%;
  font-family: var(--font-poster);

  .border,
  .artworkFigure {
    width: 100%;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  .artworkFigure {
    height: 50%;
    flex-grow: 1;
    &.h-full {
      svg {
        height: 100% !important;
      }
    }
  }

  .border {
    display: flex;
    flex-direction: column;
  }

  &.poster-30x40 {
    font-size: 0.6em !important;
  }
  &.poster-50x70 {
    font-size: 1em !important;
  }
  &.poster-70x100 {
    font-size: 1.2em !important;
  }

  // font-size: calc(1 * 4 * 1px);
}

.artwork {
  .border {
    border: 15em solid var(--white);
  }

  .artwork-wrapper {
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
  }

  .artworkFigure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 40em;

    path {
      fill: var(--illustration-color);
    }

    svg {
      height: 100%;
    }
  }

  .labels {
    text-align: center;
    width: 100%;
    padding: 0 40em 40em 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    h1.headline {
      font-size: 35em;
      font-weight: 400;
      color: var(--text-color);
      line-height: 1;
      overflow-wrap: anywhere;
    }

    span {
      font-size: 20em;
      display: inline-block;
      color: var(--text-color);
      line-height: 1;
      overflow-wrap: anywhere;
    }

    h2.tagline {
      font-size: 20em;
      color: var(--text-color);
      line-height: 1;
      overflow-wrap: anywhere;
    }

    h3.subline {
      font-size: 20em;
      color: var(--text-color);
      line-height: 1;
      overflow-wrap: anywhere;
    }
  }

  &.bold {
    h1.headline {
      font-weight: 800;
    }
  }

  &.script {
    // h1.headline {
    //   font-size: 55em;
    // }
    // span {
    //   font-size: 20em;
    // }

    // h2.tagline {
    //   font-size: 20em;
    // }

    // h3.subline {
    //   font-size: 20em;
    // }
  }

  &.brush {
    // h1.headline {
    //   font-size: 55em;
    //   padding-bottom: 0;
    // }

    // span {
    //   font-size: 25em;
    // }

    // h2.tagline {
    //   font-size: 25em;
    // }

    // h3.subline {
    //   font-size: 25em;
    // }
  }

  &.boxed {
    .artwork-wrapper {
      background: transparent;
    }

    .artworkFigure {
      background: var(--bg-color);
    }

    .labels {
      position: static;
      background: #fff;
      padding: 20em 0 0 0;

      h1.headline {
        color: #000;
      }

      span {
        color: #000;
      }

      h2.tagline {
        color: #000;
      }

      h3.subline {
        color: #000;
      }
    }
  }

  &.passpartou {
    .artwork-wrapper {
      background: transparent;
    }

    .artworkFigure {
      background: var(--bg-color);
    }

    .border {
      border: 30em solid #fff;
    }

    .labels {
      position: static;
      background: #fff;
      padding: 30em 0 0 0;

      h1.headline {
        color: #000;
      }

      span {
        color: #000;
      }

      h2.tagline {
        color: #000;
      }

      h3.subline {
        color: #000;
      }
    }
  }

  &.quoteSharp,
  &.quoteBrush,
  &.quoteScript {
    .artworkFigure {
      align-items: center;

      svg {
        opacity: 0.3;
      }
    }

    .labels {
      top: 50%;
      left: 50%;
      position: absolute;
      bottom: auto;
      width: 100%;
      transform: translate(-50%, -50%);
      padding-bottom: 0;

      h1.headline {
        font-size: 45em;
      }

      span {
        font-size: 25em;
      }

      h2.tagline {
        font-size: 25em;
      }

      h3.subline {
        font-size: 25em;
      }
    }
  }

  &.quoteBrush {
  }

  &.quoteSharp {
    // * {
    //   font-weight: 600 !important;
    // }
  }

  &.skymap {
    // background: var(--bg-color);

    // .artworkFigure {
    //   background: transparent;
    //   align-items: center;
    //   justify-content: center;
    //   padding: 0;
    // }

    // .labels {
    //   position: static;
    //   transform: translate(0);
    // }

    &.quoteScript {
      .labels {
        position: static;
        align-items: flex-end;
        transform: translate(0);
        padding-bottom: 40em;
      }
    }
  }

  &.map {
    font-size: 2.5px !important;

    // h1 {
    //   font-size: 25em !important;
    // }

    // span {
    //   font-size: 10em !important;
    // }

    // h2.tagline {
    //   font-size: 10em !important;
    // }

    // h2.tagline {
    //   font-size: 10em !important;
    // }

    .artworkFigure {
      background: transparent;
      align-items: center;
      justify-content: center;
      padding: 0;
    }

    .border {
      background: transparent !important;
      border-width: 0;
      // border: 15em solid var(--white);
    }

    .labels {
      position: absolute;
      z-index: 1;
      padding: 15em 10em;
      width: calc(100% + 2px);
      bottom: -1px;
      left: -1px;
      background: var(--gradientColor);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      *:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}
