// margin ( paddings )
$marginXs: 10em;
$marginSmall: 20em;
$marginLarge: 40em;
$marginXLarge: 60em;
$marginXXLarge: 80em;

// text sizes
$textLarge: 35em;
$textMedium: 25em;
$textSmall: 18em;

// border size
$borderLine: 2em;
$borderXs: 15em;
$borderSmall: 20em;
$borderMedium: 30em;

// poster settings
$illustrationColor: var(--illustration-color);
$font: var(--font-poster);
$bg: var(--bg-color);
$textColor: var(--text-color);

.artwork {
  height: 100%;
  font-family: $font;

  .border-holder,
  .artworkFigure {
    width: 100%;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  .artworkFigure {
    height: 50%;
    flex-grow: 1;
    &.h-full {
      svg {
        height: 100% !important;
      }
    }
  }

  .border-holder {
    display: flex;
    flex-direction: column;
  }

  &.poster-30x40 {
    font-size: 0.8em !important;
  }
  &.poster-50x70 {
    font-size: 1em !important;
  }
  &.poster-70x100 {
    font-size: 1.2em !important;
  }
  // font-size: calc(1 * 4 * 1px);
}

.artwork {
  .border-holder {
    margin: $borderSmall;
    outline: $borderLine solid $illustrationColor;
  }

  .artwork-wrapper {
    display: flex;
    flex-direction: column;
    background: $bg;
  }

  .artworkFigure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 40em;

    path {
      fill: $illustrationColor;
    }

    svg {
      height: 100%;
    }
  }

  .labels {
    text-align: center;
    width: 100%;
    padding: 0 40em 40em 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    h1.headline {
      font-size: $textLarge;
      font-weight: 400;
      color: $textColor;
      line-height: 1;
      overflow-wrap: anywhere;
    }

    span {
      font-size: $textSmall;
      display: inline-block;
      color: $textColor;
      line-height: 1;
      overflow-wrap: anywhere;
    }

    h2.tagline {
      font-size: $textSmall;
      color: $textColor;
      line-height: 1;
      overflow-wrap: anywhere;
    }

    h3.subline {
      font-size: $textSmall;
      color: $textColor;
      line-height: 1;
      overflow-wrap: anywhere;
    }
  }

  &.bold {
    h1.headline {
      font-weight: 800;
    }
  }

  &.script {
    // h1.headline {
    //   font-size: 55em;
    // }
    // span {
    //   font-size: 20em;
    // }

    // h2.tagline {
    //   font-size: 20em;
    // }

    // h3.subline {
    //   font-size: 20em;
    // }
  }

  &.brush {
    // h1.headline {
    //   font-size: 55em;
    //   padding-bottom: 0;
    // }

    // span {
    //   font-size: 25em;
    // }

    // h2.tagline {
    //   font-size: 25em;
    // }

    // h3.subline {
    //   font-size: 25em;
    // }
  }

  &.boxed {
    .artwork-wrapper {
      background: transparent;
    }

    .artworkFigure {
      background: $bg;
    }

    .labels {
      position: static;
      background: var(--white);
      padding: $borderXs 0 0 0;

      h3.subline,
      h2.tagline,
      span,
      h1.headline {
        color: var(--black);
      }
    }
  }

  &.passpartou {
    .artwork-wrapper {
      background: transparent;
    }

    .artworkFigure {
      background: $bg;
    }

    .border-holder {
      border: $borderMedium solid var(--white);
    }

    .labels {
      position: static;
      padding: $borderMedium 0 0 0;

      h1.headline {
        color: #000;
      }

      span {
        color: #000;
      }

      h2.tagline {
        color: #000;
      }

      h3.subline {
        color: #000;
      }
    }
  }

  &.quoteSharp,
  &.quoteBrush,
  &.quoteScript {
    .artworkFigure {
      align-items: center;

      svg {
        opacity: 0.3;
      }
    }

    .labels {
      top: 50%;
      left: 50%;
      position: absolute;
      bottom: auto;
      width: 100%;
      transform: translate(-50%, -50%);
      padding-bottom: 0;

      h1.headline {
        font-size: 45em;
      }

      span {
        font-size: 25em;
      }

      h2.tagline {
        font-size: 25em;
      }

      h3.subline {
        font-size: 25em;
      }
    }
  }

  &.quoteBrush {
  }

  &.quoteSharp {
    // * {
    //   font-weight: 600 !important;
    // }
  }

  &.skymap {
    .artworkFigure {
      padding: $marginSmall;
    }

    &.overlayApply {
      .artworkFigure {
        padding: $marginXLarge;
      }
    }

    &.quoteScript {
      .labels {
        position: static;
        align-items: flex-end;
        transform: translate(0);
        padding-bottom: 40em;
      }
    }
  }

  &.map {
    font-size: 3.2px !important;

    // h1 {
    //   font-size: 25em !important;
    // }

    // span {
    //   font-size: 10em !important;
    // }

    // h2.tagline {
    //   font-size: 10em !important;
    // }

    // h2.tagline {
    //   font-size: 10em !important;
    // }

    .border-holder {
      margin: $marginXs;
    }

    .artworkFigure {
      background: transparent;
      align-items: center;
      justify-content: center;
      padding: 0;
    }

    .border-holder {
      background: transparent !important;
      border-width: 0;
      // border: 15em solid var(--white);
    }

    .labels {
      position: absolute;
      z-index: 1;
      padding: 15em 10em;
      width: calc(100% + 2px);
      bottom: -1px;
      left: -1px;
      background: var(--gradientColor);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      *:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  &.zodiac {
    .artworkFigure {
      padding: $marginXLarge;
    }

    .zodiac-bg {
      height: 100%;
      width: auto;
      padding: 10px;
      border-radius: 9999px;
      background: $illustrationColor;
      margin-bottom: 20em;

      & > svg {
        opacity: 0.4;
        fill: $bg;
        z-index: 3;
      }
    }

    &.overlayApply {
      .zodiac-bg {
        margin-bottom: 40em;
      }
    }

    .zodiac-figure {
      position: absolute;
      width: 65%;
      height: 65%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      circle,
      path {
        fill: $bg;
      }
    }

    .sky-bg {
      padding: 10px;

      svg {
        width: inherit;
        height: inherit;
      }
    }

    &.quoteScript {
      svg {
        opacity: 1;
      }
      .labels {
        position: static;
        align-items: flex-end;
        transform: translate(0);
        padding-bottom: 40em;
      }
    }
  }
}
