$frameWidth: var(--frame-scale);

.editor-wrapper {
  height: calc(100vh - 62px);

  .editor-panel {
    .icons {
      svg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  // FOR EDITOR PAGE
  .type-frame {
    top: calc($frameWidth * -0.91) !important;
    right: calc($frameWidth * -0.91) !important;
    bottom: calc($frameWidth * -0.91) !important;
    left: calc($frameWidth * -0.91) !important;
  }
}
