.editor-wrapper {
  height: calc(100vh - 66px);

  .editor-panel {
    .icons {
      svg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}
