$frameWidth: var(--frame-scale);

.editor-wrapper {
  height: calc(100svh - 62px);
  background: var(--bg);
  // display: flex;
  // flex-direction: column;

  &__buttons {
    @media screen and (min-width: 320px) {
      // position: fixed;
      // right: 0;
      // left: 0;
      // bottom: 0;
      // display: none;
    }

    @media screen and (min-width: 1024px) {
      display: block;
    }
  }

  .editor-panel {
    .icons {
      svg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    @media screen and (max-width: 1023px) {
      padding: 0;
      .ant-collapse {
        display: flex;
        flex-direction: row;
        // justify-content: center;
        align-items: center;

        position: relative;
        width: 100%;
        height: 90px;

        background: var(--primary);
        padding: 1rem;
        overflow-y: hidden;
        overflow-x: auto;
        border-radius: 0;

        border-top: 2px solid var(--secondButton);

        .ant-collapse-header {
          padding: 0;
          width: 100%;
          height: 100%;
          text-align: center;
        }

        .ant-collapse-item {
          width: 90px;
          height: 70px;
          min-width: 90px;
          min-height: 70px;
          background: var(--secondary);

          &-active {
            background: var(--secondButton);

            .collapse-custom-header__title-mobile {
              color: var(--primary) !important;
            }
          }

          .ant-collapse-expand-icon {
            display: none;
          }
        }

        .ant-collapse-content {
          position: fixed;
          bottom: 150px;
          left: 0;
          right: 0;
          z-index: 11;
          height: 50%;
          // overflow-y: auto;
          max-height: 50%;
          height: fit-content;
          overflow-y: auto;

          &-box {
            padding: 0;
          }
        }

        .collapse-custom-content {
          padding: 2rem 1.6rem;
          // background: rgba(255, 255, 255, 0.95);
        }
      }
    }

    .collapse-custom-header {
      @media screen and (max-width: 1023px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__title {
        display: none;

        @media screen and (max-width: 1023px) {
          font-size: 1rem;
          width: 50%;
        }

        @media screen and (min-width: 1024px) {
          display: block;
        }

        &-mobile {
          display: block;
          width: 100%;
          @media screen and (min-width: 1024px) {
            display: none;
          }
        }
      }
    }
  }

  // FOR EDITOR PAGE
  .type-frame {
    top: calc($frameWidth * -0.91) !important;
    right: calc($frameWidth * -0.91) !important;
    bottom: calc($frameWidth * -0.91) !important;
    left: calc($frameWidth * -0.91) !important;
  }
}

.render-cart-screen-wrapper {
  background: var(--bg);
}
