.skymap {
  #map-holder {
    width: auto;
    height: 100% !important;
  }

  #map {
    pointer-events: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    aspect-ratio: 1/1;
    height: 100% !important;
    width: 100%;
    overflow: hidden;
    border-radius: 99999px;

    canvas {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      pointer-events: none !important;
      z-index: 2;
    }
  }

  &.maskApply {
    #map {
      // -webkit-mask-box-image-source: var(--mask);
      mask-image: var(--mask);
      mask-repeat: no-repeat;
      mask-size: cover;
      mask-position: center;
      // -webkit-mask-box-image-width: 1%;
      // -webkit-mask-box-image-width: initial;
      // -webkit-mask-box-image-outset: 0.1em;
      // -webkit-mask-box-image-repeat: initial;
    }
  }

  &.portrait {
    #map-holder {
      width: 100%;
      height: auto !important;
    }
  }

  canvas {
    transform: scale(1.065);
  }
}
