body,
html {
  font-size: 18px;
  min-height: 100%;
  font-family: var(--font-main);
  background: var(--bg);

  @media screen and (min-width: 2400px) {
    font-size: 28px;
  }
}

:root {
  --primary: #f0122d;
  --text: #111;
  --wine: #995955;
  --bg: #EAEDF2;
  --black: #14191f;
  --darkGrey: #454545;
  --silver: #e5e5e5;
  --blueGrey: #7b92a3;
  --error: #f8382a;
  --white: #fff;
  --cream: #bd998d;
  --light: #f8f5f2;
  --secondaryBg: #f9fafb;
  --hover: linear-gradient(
    171deg,
    rgba(240, 18, 45, 1) 0%,
    rgba(240, 78, 45, 0.4598433123249299) 50%,
    rgba(240, 107, 45, 1) 100%
  );
  --font-main: var(--font-main);
  --font-dancing: var(--font-dancing);
}

body {
  overflow-x: hidden;
}

.mapboxgl-control-container {
  display: none;
}

.ant-input:focus,
.ant-picker:hover,
.ant-picker-focused,
.ant-input:hover {
  border-color: var(--wine) !important;
  box-shadow: none !important;
}

.ReactModal__Overlay {
  background-color: var(--wine) !important;
}

.datepicker-input {
  * {
    font-size: inherit !important;
  }
}
