@tailwind base;
@tailwind components;
@tailwind utilities;

#__next,
body,
html {
  font-size: 18px;
  font-family: var(--font-main);
  background: var(--bg);
  min-height: 100vh;

  // @media screen and (min-width: 2400px) {
  //   font-size: 24px;
  // }
}

:root {
  --primary: #f0122d;
  --text: #111;
  --wine: #995955;
  --bg: #eaedf2;
  --secondaryBg: #423024;
  --black: #14191f;
  --darkGrey: #454545;
  --silver: #e5e5e5;
  --blueGrey: #7b92a3;
  --error: #f8382a;
  --white: #fff;
  --cream: #bd998d;
  --light: #f8f5f2;
  --hover: linear-gradient(
    171deg,
    rgba(240, 18, 45, 1) 0%,
    rgba(240, 78, 45, 0.4598433123249299) 50%,
    rgba(240, 107, 45, 1) 100%
  );
  --font-main: var(--font-main);
  --font-dancing: var(--font-dancing);
}

[class^="ant-"] {
  font-family: var(--font-main) !important;
}

body {
  overflow-x: hidden;
}

.mapboxgl-control-container {
  display: none;
}

.ant-input:focus,
.ant-picker:hover,
.ant-picker-focused,
.ant-input:hover {
  border-color: var(--wine) !important;
  box-shadow: none !important;
}

.ReactModal__Overlay {
  background-color: var(--wine) !important;
}

.datepicker-input {
  * {
    font-size: inherit !important;
  }
}

.mapboxgl-canvas-container,
.mapboxgl-canary {
  width: 100%;
  height: 100%;
  position: relative;
  position: absolute;
  left: 0;
}

.mapboxgl-canvas-container {
  position: absolute;
  left: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.artwork.render {
  .ol-zoom {
    display: none !important;
  }
}
