$marginXs: 1em;
$marginSmall: 1.2em;
$marginLarge: 1.4em;
$marginXLarge: 1.6em;
$marginXXLarge: 1.8em;
$marginXXXLarge: 2em;

// text sizes
$textLarge: 3.4em;
$textMedium: 3em;
$textSmall: 2.5em;

// border size
$borderLine: 0.2em;
$borderXs: 0.4em;
$borderSmall: 0.8em;
$borderMedium: 1em;

// poster settings
$illustrationColor: var(--illustration-color);
$font: var(--font-poster);
$bg: var(--bg-color);
$textColor: var(--text-color);
$gradientColor: var(--gradientColor);

$frameWidth: var(--frame-scale);
